*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Fira sans',sans-serif;
}
body{
    background: #1f2937;
    color: #f3f4f6;
}
#watch{
    text-align: center;
    background: #111827;
    margin: 14rem auto;
    width: 60%;
    padding: 1rem 2 rem;
    border-radius: 1rem;
    
}
.header h1{
    font-size: 5rem;
}
#time{
    font-size: 8rem;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 0;
}
#controls button{
    margin:0 0.5rem 1rem 0rem;
    font-size:1.9rem;
}


/* media queries for responsive */
@media only screen and (max-width: 620px) {
    body {
      background-color: lightblue;
    }
    #time{
        font-size: 60px;
    }
    .header h1{
        font-size: 3rem;
    }
}
@media only screen and (max-width: 450px) {
    body {
      background-color: red;
    }
    #time{
        font-size: 30px;
    }
    .header h1{
        font-size: 2rem;
    }
  }